

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}

.main{
    background-color: #061b5c;
    margin: 20px auto;
    width: 400px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.mainImg{
    width: 200px;
    height: auto;
    margin: 0 auto;

}
.heading{
    margin: 30px auto 0;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.text{
    font-weight: lighter;
    text-align: center;
    padding: 15px;
}
button{
    cursor: pointer;
    background-color: #0183ff;
    color: antiquewhite;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    width: 220px;
    height: 60px;
    border-radius: 10px;
}
.frog{
    font-size: 25px;
}
.frog:hover{
    animation-iteration-count: infinite;animation: shake 0.5s;
    
}

.inputData {
    background-color: transparent;
    color: antiquewhite;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid #478ac9;
    padding: 10px;
    margin: 5px auto 18px 0;
    width: 90%;
}
#inputData:focus{
    background-color: transparent;
    color: antiquewhite;
    border: none;
    border-bottom: 3px solid #478ac9;
    padding: 10px;
    margin: 5px auto 18px 0;
    width: 90%;
}
.inputData:active{
    background-color: transparent;
    color: antiquewhite;
    border: none;
    border-bottom: 3px solid #478ac9;
    padding: 10px;
    margin: 5px auto 18px 0;
    width: 90%;
}

.infotext{
    text-align: center;
    color: #c7d8e7;
    margin-top: 0;
    font-size: 12px;
}
ul{
    display: flex;
    flex-direction: column;
}


@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }