

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}

.main{
    background-color: #061b5c;
    margin: 20px auto;
    width: 400px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.mainImg{
    width: 200px;
    height: auto;
    margin: 0 auto;

}
.heading{
    margin: 30px auto 0;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.text{
    font-weight: lighter;
    text-align: center;
    padding: 15px;
}
button{
    cursor: pointer;
    background-color: #0183ff;
    color: antiquewhite;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    width: 90px;
    height: 45px;
    border-radius: 10px;
}
.delete{
    cursor: pointer;
    background-color: transparent;
    color: antiquewhite;
    font-weight: bolder;
    font-size: 15px;
    border: 2px solid #0183ff;
    width: 90px;
    height: 45px;
    border-radius: 10px;
}
.frog{
    font-size: 25px;
}
.frog:hover{
    animation-iteration-count: infinite;animation: shake 0.5s;
    
}

.inputData {
    background-color: transparent;
    color: antiquewhite;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid #478ac9;
    padding: 10px;
    margin: 5px auto 18px 0;
    width: 90%;
}
#inputData:focus{
    background-color: transparent;
    color: antiquewhite;
    border: none;
    border-bottom: 3px solid #478ac9;
    padding: 10px;
    margin: 5px auto 18px 0;
    width: 90%;
}
.inputData:active{
    background-color: transparent;
    color: antiquewhite;
    border: none;
    border-bottom: 3px solid #478ac9;
    padding: 10px;
    margin: 5px auto 18px 0;
    width: 90%;
}

.infotext{
    text-align: center;
    color: #c7d8e7;
    margin-top: 0;
    font-size: 12px;
}
ul{
    display: flex;
    flex-direction: column;
}
.listedLinks{
    background-color: #233a80;
    border-radius: 10px;
    margin: 16px auto 0 0;
    padding: 10px;
    width: 280px;
    overflow-y: auto;
    max-height: 500px;
}
li{
    list-style-type: none;
    border: none;
    margin: 4px auto 4px 0;
    padding: 8px;
    font-size: 13px;
    border-radius: 15px 15px 15px 0px;
    color: #ffffff;
    font-weight: bold;
    background-color: #1688f3;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.listedLinks p{
    text-decoration: dashed;
}
a{
    text-decoration: none;
}
.ftext{
    margin: 40px auto 0 auto;
}

@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }